@import "root";
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
p {
    margin: 0;
}

.page__body {
    min-width: 360px;
    font-family: $font-family, sans-serif;
    margin: 0;
    background-color: $bg;
    color: $main;
}

.container {
    max-width: 1382px;
    margin: 0 auto;
    padding: 0 15px;
}

.burger {
    display: none;
}

.btn-reset {
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px
        1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.stop-scroll {
    overflow: hidden;
}

.visually-hidden {
    display: none;
    opacity: 0;
}

@media (max-width: 768px) {
    .grid {
        -ms-grid-columns: (1fr) (6);
        grid-template-columns: repeat(6, 1fr);
    }
}
