@font-face {
    font-family: "Josefin Sans";
    src: url(../fonts/JosefinSansBold.woff2);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/MontserratExtraBold.woff2);
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/MontserratSemiBold.woff2);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/PoppinsMedium.woff2);
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/PoppinsRegular.woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
