@import "font";

$bg: #1f2022;
$main: #eeeeee;
$second: #00adb5;
$light-text: #fff;
$font-family: "Josefin Sans", sans-serif;
$second-family: "Montserrat", sans-serif;
$third-family: "Poppins", sans-serif;
